<configuration scan="true" debug="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">
    <!-- scan=true will reload this configuration file regularly -->

    <!-- http://logback.qos.ch/manual/configuration.html -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- http://stackoverflow.com/questions/2005929/howto-prevent-eclipse-from-line-wrapping-in-xml-and-html-files -->
            <!-- '%highlight' works under unix even if withJansi==false -->
            <pattern><![CDATA[%date [%thread] \(%level\) %logger{36}.%method\(%line\) - %msg%n]]></pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>